.desc{
    flex: 1 1 calc(100% - 248px - 125px);

   h1{
       margin-bottom: 28px;
       font-size: 2.4em;
   }
   p{
       color: #a7a7a9;
       line-height: 1.4;
       font-size: 1.05em;
       font-weight: 500;
   }
}