@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);


$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

:root{
    font-size: 10px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    background-color: $VeryLightGray;
    font-family: 'Poppins',sans-serif;

    .container{
        margin: 7rem 0 ;
        width: 80%;
        display: flex;
        gap: 5rem;
        flex-direction: column;

        .heading{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            .title{
                
                .thin{
                    font-size: 2.3rem;
                    font-weight: 400;
                    color: $GrayishBlue;
                }
                .bold{
                    font-weight: 600;
                    font-size: 2.4rem;
                    // font-size: ;
                }
            }

            .paragraph{
                p{
                    color: $GrayishBlue;
                }
            }
        
            @media screen and (min-width:768px) {
                align-self: center;
                width: 40%;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;

            .card-1{
                border-top: 4px solid $Cyan;
            }
            .card-2{
                border-top: 4px solid $Red
            }
            .card-3{
                border-top: 4px solid $Orange;
            }
            .card-4{
                border-top: 4px solid $Blue;
            }

            .wrapper{ 
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4rem;
            }

            .card{
                border-radius: 1rem;
                width: 100%;
                padding: 2rem;
                background-color: white;
                display: flex;
                box-shadow: 0 7px 1.5rem $GrayishBlue;
                flex-direction: column;

                gap: 4rem;
                .text{
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    .name{
                        font-weight: 600;
                    }
                    p{
                        font-size: 0.95em;
                        color: $GrayishBlue;
                    }
                }
                .image{
                    align-self: flex-end;
                }
                
            }

            @media screen and (min-width:768px) {
                flex-direction: row;
            }
        }
    }
}



